# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Test coverage
*.coverage
coverage*.json
coverage*.xml
coverage*.cobertura.xml
TestResults/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Visual Studio cache/options
.vs/
.vscode/

# ReSharper
_ReSharper*/
*.ReSharper
*.DotSettings.user

# NuGet
packages/
*.nupkg
*.snupkg

# User Secrets
secrets.json
testsettings.Local.json

# IDE
.idea/
.DS_Store
